@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Стартовая страница</title>
</head>
<body>
    <h1>Добро пожаловать на стартовую страницу!</h1>
    <p>Выберите одну из страниц для перехода:</p>
    <ul>
        <li><a href="/Home/Shows">Страница Shows</a></li>
        <li><a href="/Ticket">Страница Ticket</a></li>
    </ul>
</body>
</html>
