@model AtaPPZlab6_7.Models.ShowViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Show Functions</title>
</head>
<body>
    <h1>Show Functions</h1>

    <form action="/Show" method="get">
        <h2>Get Show</h2>
        <button type="submit">Get</button>
    </form>
</body>
</html>
<html>
<head>
    <title>Delete Show</title>
</head>
<body>
    <h1>Delete Show</h1>

    <label for="id">Show ID:</label>
    <input type="number" id="id" name="id" required>
    <br>

    <button onclick="deleteShow()">Delete</button>

    <script>
        function deleteShow() {
            var id = document.getElementById("id").value;
            var url = "/Show/" + id;

            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert("Show deleted successfully");
                }
            };
            xhr.send();
        }
    </script>
</body>
</html>
<html>
<head>
    <title>Update Show</title>
</head>
<body>
    <h1>Update Show</h1>
    <form action="/Show/{id}" method="put">
    <label for="id">Show ID:</label>
    <input type="number" id="id" name="id" required>
    <br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <br>

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" required>
    <br>

    <label for="countSeats">Count Seats:</label>
    <input type="number" id="countSeats" name="countSeats" required>
    <br>

    <label for="date">Date:</label>
    <input type="datetime-local" id="date" name="date" required>
    <br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>
    <br>

    <button onclick="updateShow()">Update</button>

    <script>
        function updateShow() {
            var id = document.getElementById("id").value;
            var name = document.getElementById("name").value;
            var author = document.getElementById("author").value;
            var genre = document.getElementById("genre").value;
            var countSeats = document.getElementById("countSeats").value;
            var date = document.getElementById("date").value;
            var price = document.getElementById("price").value;

            var url = "/Show/" + id;
            var data = {
                Name: name,
                Author: author,
                Genre: genre,
                CountSeats: countSeats,
                Date: date,
                Price: price
            };

            var xhr = new XMLHttpRequest();
            xhr.open("PUT", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert("Show updated successfully");
                }else
                    alert("Error" );
            };
            xhr.send(JSON.stringify(data));
        }
    </script>
    </form>
</body>
</html>
<html>
<head>
    <title>Add Show</title>
</head>
<body>
    <h1>Add Show</h1>
    <form id="showForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <br>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required>
        <br>

        <label for="countSeats">Count Seats:</label>
        <input type="number" id="countSeats" name="countSeats" required>
        <br>

        <label for="datetime">Date and Time:</label>
        <input type="datetime-local" id="datetime" name="datetime" required>
        <br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
        <br>

        <button type="button" onclick="addShow()">Add</button>
    </form>

    <script>
        function addShow() {
            var form = document.getElementById("showForm");
            var formData = new FormData(form);

            var data = {};
            formData.forEach(function (value, key) {
                if (key === "datetime") {
                    var date = new Date(value);
                    data[key] = date.toISOString();
                } else {
                    data[key] = value;
                }
            });

            var url = "/Show";

            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert("Show added successfully");
                    } else {
                        alert("Error: " + xhr.statusText);
                    }
                }
            };
            xhr.send(JSON.stringify(data));
        }
    </script>
</body>
</html>

