@model AtaPPZlab6_7.Models.TicketViewModel

@{
    ViewData["Title"] = "Book Details";
}

<h1>@Model.Name</h1>
<p><strong>Author:</strong> @Model.NameOfOwner</p>
<p><strong>Date:</strong> @Model.Date</p>
<p><strong>Price:</strong> @Model.Price</p>